<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<body>

<div th:fragment="content" th:remove="tag">
	<div class="img-wrapper" id="divProductImages">
		<!-- Main Image -->
		<div class="img-card">
			<label>Main Image: [[${product.mainImage}]]</label>
			
			<img id="thumbnail" th:src="@{${product.mainImagePath}}" alt="Main image preview">
			
			<input type="file" id="fileImage" name="fileImage" accept="image/png, image/jpeg"
				 th:required="${product.mainImage == null}" />
				
			<input type="hidden" th:field="*{mainImage}" />
		</div>
		
		<!-- Add Extra Image New Mode -->
		<th:block th:unless="${numberOfExistingExtraImages}">
		<div class="img-card" id="divExtraImage0">
			<label id="extraImageHeader0">Extra Image #1:</label>
			
			<img id="extraImage0" th:src="@{/images/image-thumbnail.png}" 
				alt="Extra image #1 peview">
				
			<input type="file" name="extraImage" accept="image/png, image/jpeg"/>
		</div>
		</th:block>
		
		<!-- Show Extra Images Edit Mode -->
		<th:block th:each="productImage, status : ${product.images}">
			<div class="img-card" th:id="'divExtraImage' + ${status.index}">
				<a name="linkRemoveExtraImage" class="fas fa-times-circle fa-2x icon-aqua close-extra-section" title="Close"></a>
				
				<label>Extra Image #[[${status.index + 1}]]: [[${productImage.name}]]</label>
				
				<img th:id="'extraImage' + ${status.index}" th:src="@{${productImage.imagePath}}"
					 th:alt="'Extra image #' + ${status.index + 1} +  'preview'">
					 
				<input type="file" name="extraImage" accept="image/png, image/jpeg"/>
				
				<input type="hidden" name="imageIDs" th:id="'imageId' + ${status.index}" 
					th:value="${productImage.id}" />
					
				<input type="hidden" name="imageNames" th:id="'imageName' + ${status.index}" 
					th:value="${productImage.name}"/>
			</div>
		</th:block>
		
		<!-- Add Extra Image Edit Mode -->
		<th:block th:if="${numberOfExistingExtraImages}">
		<div th:id="'divExtraImage' + ${numberOfExistingExtraImages}">
			<div th:id="'extraImageHeader' + ${numberOfExistingExtraImages}" class="img-card">
				<label>Extra Image #[[${numberOfExistingExtraImages} + 1]]:</label>
				
				<img th:id="'extraImage' + ${numberOfExistingExtraImages}" th:src="@{/images/image-thumbnail.png}" 
					th:alt="'Extra image #' + ${numberOfExistingExtraImages} + 'peview'">
					
				<input type="file" name="extraImage" accept="image/png, image/jpeg"/>
			</div>
		</div>
		</th:block>
	</div>
</div>
	
</body>
</html>