<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Edit Customer', 'none')" />
<body>
<!-- Navbar -->
<div th:replace="navigation :: navbar"></div>

<h1 class="form-title"><span>Manage Customers</span> [[${pageTitle}]]</h1>

<!-- Form -->
<form th:action="@{/customers/save}" method="post" th:object="${customer}" onsubmit="return checkUnique(this)" class="common-form">
	<input type="hidden" th:field="*{id}" />
	
	<div class="input-group">
		<label>First Name:</label>
		<input type="text" th:field="*{firstName}" required minlength="3" maxlength="45"/>
	</div>
	
	<div class="input-group">
		<label>Last Name:</label>
		<input type="text" th:field="*{lastName}" required minlength="3" maxlength="45"/>
	</div>
	
	<div class="input-group">
		<label>E-mail:</label>
		<input type="email" th:field="*{email}" required minlength="3" maxlength="45"/>
	</div>
	
	<div class="input-group">
		<label>Password:</label>
		<input type="password" th:field="*{password}" minlength="6" maxlength="65"
			placeholder="Leave blank if you don't want to change password"/>
	</div>
	
	<div class="input-group">
		<label>Phone Number:</label>
		<input type="text" th:field="*{phoneNumber}" required minlength="15"/>
	</div>
	
	<div class="input-group">
		<label>Address Line 1:</label>
		<input type="text" th:field="*{addressLine1}" required minlength="3" maxlength="64"/>
	</div>
	
	<div class="input-group">
		<label>Address Line 2:</label>
		<input type="text" th:field="*{addressLine2}" minlength="3" maxlength="64"/>
	</div>
	
	<div class="input-group">
		<label>City:</label>
		<input type="text" th:field="*{city}" required minlength="3" maxlength="45"/>
	</div>
	
	<div class="input-group">
		<label>State:</label>
		<input type="text" th:field="*{state}" required minlength="3" maxlength="45"/>
	</div>
	
	<div class="input-group">
		<label>Country:</label>
		<select th:field="*{country}">
			<th:block th:each="country : ${listCountries}">
			<option th:value="${country.id}">[[${country.name}]]</option>
			</th:block>
		</select>
	</div>
	
	<div class="input-group">
		<label>Postal Code</label>
		<input type="text" th:field="*{postalCode}" required minlength="3" maxlength="10"/>
	</div>
	
	<div class="input-group-checkbox">
		<label>Enabled</label>
		<input type="checkbox" th:field="*{enabled}"/>
	</div>
	
	<input type="submit" value="Save" class="form-btn submit-btn"/>
	<a href="#" class="fa-solid fa-xmark cancel-form-btn"></a>
</form>

<script type="text/javascript">
	moduleUrl = "[[@{/customers}]]";
	
	function checkUnique(form) {
		id = $("#id").val();
		email = $("#email").val();
		csrf = $("input[name = '_csrf']").val();
		
		url = "[[@{/customers/check_email}]]";
		params = {id: id, email: email, _csrf: csrf};
		
		$.post(url, params, function(response) {
			if (response == "OK") {
				form.submit();
			} else if (response == "Duplicated") {
				alert('There is another customer having same e-mail: ' + email);
			}
		}).fail(function() {
			alert("Could not connect to the server")
		});
		
		return false;
	}
</script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</body>
</html>