<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="content" th:remove="tag">
	<form th:action="@{/settings/save_mail_templates}" method="post">
		<!-- Tab links -->
		<div class="tab-nav">
			<a onclick="openMailTab('customerVerification')" class="tab-link active" href="#">Customer Verification</a>
			<a onclick="openMailTab('orderConfirmation')" class="tab-link" href="#">Order Confirmation</a>
		</div>
		
		<!-- Tab content -->
		<div id="customerVerification" class="tab-content-mail">
			<div th:replace="settings/mail_templates/customer_verification :: content"></div>
		</div>
		
		<div id="orderConfirmation" class="tab-content-mail" style="display: none;">
			<div th:replace="settings/mail_templates/order_confirmation :: content"></div>
		</div>
		<input type="submit" value="Save" class="form-btn submit-btn" /> 
	</form>
</div>

</body>
</html>