<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('List Questions', 'none')"></head>
<body>
<!-- Navbar -->
<div th:replace="navigation :: navbar"></div>

<h1 class="title">Manage Questions</h1>

<div class="table-wrapper">
<!-- Search Form -->
<div th:replace="fragments :: search_form"></div>

<!-- Message -->
<div th:if="${message}" class="message">[[${message}]]</div>

<!-- Table -->
<table class="common-table">
	<thead>
		<tr>
			<th th:replace="fragments :: column_link('id', 'ID')"></th>
			<th th:replace="fragments :: column_link('product', 'Product')"></th>
			<th th:replace="fragments :: column_link('questionContent', 'Question')"></th>
			<th th:replace="fragments :: column_link('customer', 'Asker')"></th>
			<th th:replace="fragments :: column_link('askTime', 'Ask Time')"></th>
			<th>Approved</th>
			<th>Answered</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="question : ${listQuestions}">
			<td>[[${question.id}]]</td>
			<td>
				<a th:href="@{'/products/detail/' + ${question.product.id}}" class="link-product">
					[[${question.product.shortName}]]
				</a>
			</td>
			<td>[[${question.questionContent}]]</td>
			<td>
				<a th:href="@{'/customers/detail/' + ${question.customer.id}}" class="link-customer">
					[[${question.customer.fullName}]]
				</a>
			</td>
			<td>[[${question.askTime}]]</td>
			<td>
				<a th:if="${question.approvalStatus}" th:href="@{'/questions/update/' + ${question.id} + '/false'}"
					 class="far fa-check-square icon-green" title="disapprove this question"></a>
				<a th:unless="${question.approvalStatus}" th:href="@{'/questions/update/' + ${question.id} + '/true'}"
					 class="far fa-check-square icon-silver" title="approve this question"></a>
			</td>
			<td>
				<i class="far fa-check-square"
					th:classappend="${question.answer} ? 'icon-green' : 'icon-silver'"></i>
			</td>
			<td>
				<div class="table-links">
					<a class="fas fa-file-alt icon-aqua link-question"
						th:href="@{'/questions/detail/' + ${question.id}}"
						title="View details of this question"></a>
						
					<div th:replace="fragments :: edit('/questions/edit/' + ${question.id}, 'question')"></div>
					
					<div th:replace="fragments :: delete('/questions/delete/' + ${question.id}, ${question.id}, 'question', true)"></div>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<!-- Responsive Table -->
<div class="table-cards">
	<th:block th:each="question : ${listQuestions}">
     <div class="table-card">
         <span class="id">ID: [[${question.id}]]</span>
         
         <div class="details">
         	<p>
	         	<span>Product:</span>
	         	<a th:href="@{'/products/detail/' + ${question.product.id}}" class="link-product">
					[[${question.product.shortName}]]</a>
			</p>
			<p><span>Question:</span>[[${question.questionContent}]]</p>
			<p>
				<span>Ask by:</span>
				<a th:href="@{'/customers/detail/' + ${question.customer.id}}" class="link-customer">
					[[${question.customer.fullName}]]</a>
			</p>
         </div>
         
         <div class="links">
       		<a class="fas fa-file-alt icon-aqua link-question"
						th:href="@{'/questions/detail/' + ${question.id}}"
						title="View details of this question"></a>
						
			<div th:replace="fragments :: edit('/questions/edit/' + ${question.id}, 'question')"></div>
			
			<div th:replace="fragments :: delete('/questions/delete/' + ${question.id}, ${question.id}, 'question', true)"></div>
         </div>
     </div>
    </th:block>
</div>

<!-- Pagination -->
<div th:replace="fragments :: pagination('questions')"></div>
</div>

<!-- Confirm Modal-->
<div th:replace="fragments :: confirm_modal"></div>

<!-- Detail Modal -->
<div th:replace="fragments :: detail_modal"></div>

<script type="text/javascript">
	moduleURL = "[[@{/questions}]]";
	
	$(document).ready(function() {
		handleLinkViewDetail($('.link-question'));
		handleLinkViewDetail($('.link-product'));
		handleLinkViewDetail($('.link-customer'));
		handleLinkDelete("question")
	});
</script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/common_list.js}"></script>
</body>
</html>