<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<body>
<!-- Navbar -->
<div th:replace="navigation :: navbar"></div>

<h1 class="title">Customer Registration</h1>
<form th:action="@{/create_customer}" onsubmit="return checkEmailUnique(this)" method="post"
	th:object="${customer}" class="common-form">
    <img th:src="@{/images/form-img.jpg}" class="common-form-img">
    <div class="form">
	    <div class="input-group">
			<label>Fist Name:</label>
			<input type="text" th:field="*{firstName}" minlength="2" maxlength="45" required="required" />
		</div>
		
		<div class="input-group">
			<label>Last Name:</label>
			<input type="text" th:field="*{lastName}" minlength="2" maxlength="45" required="required" />
		</div>
		
		<div class="input-group">
			<label>E-mail:</label>
			<input type="email" th:field="*{email}" minlength="8" maxlength="45" required="required" />
		</div>
		
		<div class="input-group">
			<label>Password:</label>
			<input type="password" th:field="*{password}"
				minlength="6" maxlength="15" required="required" 
				oninput="checkPasswordMatch(document.getElementById('confirmPassword'))" />
		</div>
		
		<div class="input-group">
			<label>Re-type Password:</label>
			<input type="password" id="confirmPassword"
				minlength="6" maxlength="15" required="required" 
				oninput="checkPasswordMatch(this)" />
		</div>
		
		<div class="input-group">
			<label>Phone Number:</label>
			<input type="text" th:field="*{phoneNumber}" minlength="8" maxlength="15" required="required" />
		</div>
		
		<div class="input-group">
			<label>Address Line 1:</label>
			<input type="text" th:field="*{addressLine1}" minlength="3" maxlength="64" required="required" />
		</div>
		
		<div class="input-group">
			<label>Address Line 2:</label>
			<input type="text" th:field="*{addressLine2}" maxlength="64" />
		</div>
		
		<div class="input-group">
			<label>City:</label>
			<input type="text" th:field="*{city}" minlength="2" maxlength="45" />
		</div>
		
		<div class="input-group">
			<label>Country:</label>
			<select th:field="*{country}">
				<th:block th:each="country : ${listCountries}">
				<option th:value="${country.id}">[[${country.name}]]</option>
				</th:block>
			</select>
		</div>
		
		<div class="input-group">
			<label>State/Province:</label>
			<input type="text" th:field="*{state}" minlength="3" maxlength="45" list="listStates" />
			<datalist id="listStates"></datalist>
		</div>
		
		<div class="input-group">
			<label>Postal Code:</label>
			<input type="text" th:field="*{postalCode}" minlength="2" maxlength="10" />
		</div>
		
		<input type="submit" value="Create Account" />
    </div>
</form>

<!-- Footer -->
<div th:replace="fragments :: footer"></div>

<script type="text/javascript">
	contextPath = "[[@{/}]]";

	function checkEmailUnique(form) {
		const url = contextPath + "customers/check_unique_email";
		const email = $('#email').val();
		const csrf = $("input[name='_csrf']").val();
		const params = {email: email, _csrf: csrf};
		
		$.post(url, params, (response) => {
			if(response == 'OK') {
				form.submit();
			} else {
				alert("This E-mail already exist. Please Enter other e-mail!");
			}
		});
		
		return false;
	}
</script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/common_customer_form.js}"></script>
</body>
</html>