<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Error', 'none')"></head>
<body>
<!-- Navbar -->
<div th:replace="navigation :: navbar"></div>
	
<div class="error-message">
	<h1>500</h1>
	<h2>Internal Server Error</h2>
	<p>Sorry, the server has encountered an error while processing your request</p>
</div>

<script type="text/javascript" th:src="@{/js/script.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</body>
</html>