<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: page_head('Forgot Password', 'none')" />
<body>
<!-- Navbar -->
<div th:replace="navigation :: navbar"></div>

<h1 class="title">Forgot Password</h1>

<form th:action="@{/forgot_password}" method="post" class="forgot-password-form">
	<div th:if="${error != null}">
		<p>[[${error}]]</p>
	</div>
	
	<div th:if="${message != null}">
		<p>[[${message}]]</p>
	</div>
	
	<p>We will be sending a reset password link to your email.</p>
	
	<input type="email" name="email" required="required" autofocus="autofocus"
		 placeholder="Enter your e-mail"/>
	
	<input type="submit" value="Send" />
</form>
	
<!-- <div class="copyright">
	[[${COPYRIGHT}]]
</div> -->
<script type="text/javascript">
	contextPath = "[[@{/}]]";
</script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/common_customer_form.js}"></script>
</body>
</html>