<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: page_head('Reset Password', 'none')" />
<body>
<!-- Navbar -->
<div th:replace="navigation :: navbar"></div>

<h1>Reset Your Password</h1>

<form th:action="@{/reset_password}" method="post" class="reset-password-form">
	<input type="hidden" th:value="${token}" name="token" />
	
	<input type="password" name="password" id="password" placeholder="Enter your new password"
		minlength="8" maxlength="15" required="required" autofocus="autofocus" />
	<input type="password" id="confirmPassowrd" placeholder="Confirm your new password"
		minlength="8" maxlength="15" required="required" oninput="checkPasswordMatch(this)" />
	
	<input type="submit" value="Change Password" />
</form>

<div class="copyroght" style="font-size: 2rem; font-weight: bold;">
	[[${COPYRIGHT}]]
</div>
<script type="text/javascript">
	function checkPasswordMatch(confirmPassword) {
		if (confirmPassword.value != $('#password').val()) {
			confirmPassword.setCustomValidity("Password do not match!");
		} else {
			confirmPassword.setCustomValidity("");
		}
	}
</script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</body>
</html>